{
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 1 Chrome version"]
          }
        }]
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 1 Chrome version"]
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
